@charset "utf-8";
/* CSS Document */
body {
	margin: 0px;
	border: 0px;
	/*background-image:url(../images/);*/
	background-repeat:repeat;
	background-color: #333;
	color:#FFF;
	font-family: 'Luckiest Guy', sans-serif;
	font-size:16px;
}

.hide {
    display: none;
}

#relax-drag {
	width: 100%;
	text-align: center;
}

.radio-drop{
	position: absolute;
	width: 50%;
	height: 30%;

	border: 3px solid #8AC007;
	
}
.icons-drag{

	position: absolute;
	width: 80%;
	height: 20%;
	bottom: 10px;
	border: 3px solid #8AC007;
}

.relax-image{
	position: relative;
	width: 7%;
	padding-right: 2%;
}



